body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    font-weight: normal;
    font-style: normal;
}
header{
    margin: auto;
    background-color: rgb(179,154,124);
    width:1000px;
    height:490px;
    text-align: center;
}
@media only screen and (max-width: 1000px) {
header {
    background-color: black;
}
}

figure{
    margin: 0px;
}
.logo{
    width: 200px;
    height:100px;
}
.campus{
    width:1000px;
    height:220px;
}
h1{
    font-style: italic;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
@media only screen and (max-width: 1000px) {
h1{
    color:white;
}
}
nav{
    padding-top: 14px;
    width:600px;
    margin:auto;
    padding-right: 300px;
}

nav a{
    width: 100px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    border-style:solid;
    padding:10px;
    margin:10px;
    border-color: white;
    border-width: 1px;
    border-radius: 10px;

}
nav a.navig{
    width: 100px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    border-style:solid;
    padding:10px;
    margin:10px;
    border-color: white;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgb(228,200,166);
}
@media only screen and (max-width: 1000px) {
nav a{
    color: white;
}
}
main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    font-weight: normal;
    font-style: normal;
    width: 1000px;
    background-color: rgb(228,200,166);
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}
@media only screen and (max-width: 1000px) {
main{
    background-color: black;
    color: white;
}
}
article{
    width:600px;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
main h1{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline dotted;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: red;
    text-align: left;
}
main p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    text-indent: 20px;
}
@media only screen and (max-width: 1000px) {
main p{
    color:white;
}
}
.image{
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
}
form{
    padding-bottom: 10px;
}
fieldset{
    width:500px;
    margin: auto;
}
#date{
    width: 200px;
    height:30px;
    border-radius: 15px;
    border-width: 0px;
}
#nom{
    width: 200px;
    height:30px;
    border-radius: 15px;
    border-width: 0px;
}
#prénom{
    width: 200px;
    height:30px;
    border-radius: 15px;
    border-width: 0px;
}
p{
    font-size: 15px;
    font-weight: 530;
    margin:0;
}
table{
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
    width: 400px; /*j'ai utilisé 400px pour que le tableau soit comme le tableau dans l'énoncé*/
    border-collapse: collapse;
}
.table2 td{
    border-width: 0px;
    padding-bottom: 20px;
}
@media only screen and (max-width: 1000px) {
.table2 td{
    color:white;
}
}
table td{
    border-width: 2px;
    border: 1px solid white;
}
@media only screen and (max-width: 1000px) {
table td{
    color:white;
}
}
table th{
    border: 1px solid white;
    border-style: double;
    border-color: red black;
    background-color: rgb(179,154,124);
}
.moy{
    text-align: right;
}
.moyenne{
    text-align:center;
}
footer{
    margin-top: 0;
    width:1000px;
    background-color: rgb(179,154,124);
    margin: auto;
    font-style: normal;
    font-weight: normal;
}
@media only screen and (max-width: 1000px) {
footer{
    background-color: black;
    color:white;
}
}
hr{
    border: 0px;
    margin: 0;
}
.galerie{
    padding: 3px;
    width: 200px;
    height: 250px;
    border:10px solid white;
    box-shadow: 5px 10px 5px black;
}
.vide{
    padding-left: 120px;
}
ul{
    margin-top:0px;
}
@media only screen and (max-width: 1000px) {
ul{
    color:white;
}
}
ol{
    margin-top:0px;
}
@media only screen and (max-width: 1000px) {
ol{
    color:white;
}
}